/* Căn giữa các thành phần */
.header-exam{
  display: flex;
  justify-content: center;
}

.header-exam-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: transparent ;
    border-bottom: 2px solid #ddd;
    width: 70%;
  }
  
  .left-header h2 {
    font-weight: 300;
    color: var(--black-color);
    margin: 0;
    font-size: 1.5rem;
    padding: 10px;
  }
  
  .center-header .dropdown {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: white;
  }
  
  .right-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .center-header {
    flex: 1;
    text-align: center;
  }
  
  .dropdown {
    padding: 8px 12px;
    font-size: 16px;
    color: #333;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    transition: border-color 0.3s ease;
    margin: 0 50px;
  }
  
  .dropdown:hover {
    border-color: #007bff; /* Change border color on hover */
  }
  
  .dropdown:focus {
    border-color: #007bff; /* Border color on focus */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Focus shadow */
  }
  
  .menu_exam {
    display: flex;
    gap: 10px;
  }
  
  .menu_exam-icon {
    font-size: 20px;
    color: #555;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.2s ease;
    padding: 10px;
  }
  
  .menu_exam-icon:hover {
    color: #007bff;
    transform: scale(1.1);
  }
  
  .menu_exam-ico:active {
    color: #0056b3;
    transform: scale(0.9);
  }
  
  /* Phần danh sách bài thi */
  .exam-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .exam-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 900px;
    text-align: center;
  }
  
  .exam-item {
    width: 215px;
    height: 250px;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .exam-item:hover {
    transform: scale(1.05);
  }
  
  .exam-item img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .exam-item h3,
  .exam-item p {
    text-align: left;
    margin: 0;
    padding-left: 10px;
  }
  
  .exam-item h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .exam-item p {
    font-size: 14px;
    color: #666;
  }
  