.user-menu {
  position: absolute;
  right: 20px;
  display: flex;
  align-items: center;
  z-index: 10;
  }
  
  .user-info {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
  }

  .user-info:hover{
    background-color: var(--primary-color-rgba);
  }

  .user-icon{
    color: #007bff;
    font-size: 2rem;
    padding: 10px;
  }
  
  .user-info span {
    font-size: 1.2rem;
  }
  
  .user-dropdown {
    position: absolute;
    display: flex;
    top: 105%;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 300px;
    z-index: 10;
  }

  .user-details{
    width: 100%;   
  }

  .text_user{
    align-items: center;
  }
  
  .user-dropdown .user-details p {
    margin: 5px 0;
  }
  
  .user-dropdown button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .user-dropdown button:hover {
    background-color: #0056b3;
  }
  