/* Tổng thể body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: #222222;
  }
  
  /* Container của giao diện đăng nhập */
  .body_login {
    background: var(--black-color);
    border-radius: 27px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 880px;
    height: 420px;
    margin-top: 75px;
    padding: 40px;
  }

  .form_login{
    display: flex;
    justify-content: space-between;
  }
  
  .form_left{
    width: 50%;
  }

  .form_right{
    width: 50%;

  }

  /* Tiêu đề Đăng nhập */
  .login_text {
    font-size: 3.3rem;
    font-weight: bold;
    color: var(--while-color);
    margin-bottom: 1.5rem;
    font-weight: 250;
  }

  .login_textf{
    color: var(--while-color);
    font-size: 1.5rem;
    font-weight: 150;
    padding: 10px 0;
  }
  .logo_img {
    width: 100px;
    height: auto;
  }
  .text{
    color: var(--while-color);
  }
  .login_input{
    margin-top: 70px;
    width: 380px;
    height: 50px;
    background-color: var(--black-color);
    border: var(--while-color) solid 1px;
    color: var(--while-color);
    border-radius: 5px;
    width: 100%;
  }
  .form_text {
    position: relative;
  }
  
  .login_input {
    width: 100%;
    padding: 10px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .floating_label {
    position: absolute;
    left: 15px;
    top: 73%;
    transform: translateY(-50%);
    font-size: 16px;
    color: var(--while-color);
    pointer-events: none;
    transition: all 0.1s ease;
    font-weight: 200;
  }
  
  .floating_label.active {
    left: 5px;
    top: 54%;
    font-size: 15px;
    color: var(--while-color);
    font-weight: 250;
    background-color: var(--black-color);
    padding: 0 5px;
  }

  .text_account{
    font-size: 1.5rem;
    text-decoration: none;
    color: #007bff;
  }

  .text_account:hover{
    background-color: #555;
    border-radius: 5px;
    padding: 2px;
  }

  .text_learnmore{
    font-size: 1.4rem;
    padding: 40px 0;
    color: var(--while-color);
    font-weight: 200;
    line-height: 1.5;
  }

  .text_learnmore_a{
    text-decoration: none;
    color: #007bff;
    font-size: 1.5rem;
    font-weight: 300;
  }
  .text_learnmore_a:hover{
    text-decoration: underline;
  }
  .buttons{
    display: flex;
    float: right;
  }
  .button_next{
    width: 110px;
    height: 40px;
    font-size: 1.5rem;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    background-color: #007bff;
    color: var(--while-color);
    
  }

  .button_next:hover {
    background-color: #0056b3;
    color: #fff;
    transform: scale(1.1);
}

  .button_register{
    width: 120px;
    height: 40px;
    font-size: 1.5rem;
    border-radius: 25px;
    margin-right: 25px;
    background-color:  transparent;
    border: none;
    cursor: pointer;
    color:#007bff;
  }

  .button_register:hover {
    background-color: #222222; 
}




  /* Các nhãn văn bản */
  .form_text label,
  .form_password label {
    display: block;
    font-weight: bold;
    color: #555;
    margin-bottom: 0.5rem;
    text-align: left;
  }
  
  /* Các input */
  input[type="text"],
  input[type="password"] {
    padding: 0.8rem;   
    font-size: 1rem;
    margin-bottom: 1rem;
    transition: border-color 0.3s;
    font-size: 2rem;
  }
  
  input[type="text"]:focus,
  input[type="password"]:focus {
    border-color: #007bff;
    outline: none;
  }
  
  /* Nút Đăng nhập */
  .login_button {
    width: 100%;
    padding: 0.8rem;
    background-color: #007bff;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .login_button:hover {
    background-color: #0056b3;
  }
  
  .login_button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  /* Thông báo */
  p {
    margin-top: 1rem;
    color: red;
    font-weight: bold;
  }
  